<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ExtenderDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>ExportDeviceProperties</key>
			<dict>
				<key>IOClass</key>
				<string>IOUserService</string>
				<key>IOMatchCategory</key>
				<string>ExtenderExportDevice</string>
				<key>IOUserClass</key>
				<string>ExtenderExportDevice</string>
			</dict>
			<key>IOClass</key>
			<string>IOUserService</string>
			<key>IOProviderClass</key>
			<string>IOUserResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClass</key>
			<string>ExtenderDriver</string>
			<key>IOUserServerName</key>
			<string>com.calibrae.extender.app.driver</string>
			<key>UserClientProperties</key>
			<dict>
				<key>IOClass</key>
				<string>IOUserUserClient</string>
				<key>IOUserClass</key>
				<string>ExtenderUserClient</string>
			</dict>
			<key>VirtualAudioProperties</key>
			<dict>
				<key>IOClass</key>
				<string>IOUserService</string>
				<key>IOMatchCategory</key>
				<string>ExtenderVirtualAudio</string>
				<key>IOUserClass</key>
				<string>ExtenderVirtualAudio</string>
			</dict>
			<key>VirtualHIDProperties</key>
			<dict>
				<key>IOClass</key>
				<string>IOUserService</string>
				<key>IOMatchCategory</key>
				<string>ExtenderVirtualHID</string>
				<key>IOUserClass</key>
				<string>ExtenderVirtualHID</string>
			</dict>
			<key>VirtualNetworkProperties</key>
			<dict>
				<key>IOClass</key>
				<string>IOUserService</string>
				<key>IOMatchCategory</key>
				<string>ExtenderVirtualNetwork</string>
				<key>IOUserClass</key>
				<string>ExtenderVirtualNetwork</string>
			</dict>
			<key>VirtualSerialProperties</key>
			<dict>
				<key>IOClass</key>
				<string>IOUserService</string>
				<key>IOMatchCategory</key>
				<string>ExtenderVirtualSerial</string>
				<key>IOUserClass</key>
				<string>ExtenderVirtualSerial</string>
			</dict>
			<key>VirtualStorageProperties</key>
			<dict>
				<key>IOClass</key>
				<string>IOUserService</string>
				<key>IOMatchCategory</key>
				<string>ExtenderVirtualStorage</string>
				<key>IOUserClass</key>
				<string>ExtenderVirtualStorage</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
